<!DOCTYPE html >
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>用户中心_我的收藏</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<link rel="stylesheet" type="text/css" href="__WX__css/public.css">
<link rel="stylesheet" type="text/css" href="__WX__css/user.css">
<script type="text/javascript" src="__WX__js/jquery.js"></script>
<script type="text/javascript" src="__WX__js/jquery.json.js"></script><script type="text/javascript" src="__WX__js/transport.js"></script><script type="text/javascript" src="__WX__js/common.js"></script><script type="text/javascript" src="__WX__js/utils.js"></script>
	</head>
<body style="background: rgb(235, 236, 237);">


<include file="public:header" />

      <include file="public:menu"/>
        
<div id="wrapper">
  <div id="viewport">
  <div class="order_list">
     
             <div id="OrderList" class="ord_list">
       <h3>商品名称：2016030899022</h3>
              <dl class="dingdan">
       <dt><img src="__WX__testimg/82_thumb_G_1439019885065.jpg"></dt>
       <dd><p>tune tune2015夏装印花骷髅头女T恤短袖拼接圆领修身棉上衣</p><span>￥59元&nbsp;x&nbsp;1</span></dd>
       </dl>


        <ul>
         <li>总价<strong>：￥57.00元</strong> </li>
         <li><a href="#" onclick="if (!confirm('您确认要取消该收藏吗？')) return false;">取消收藏</a></li>
        </ul>

        </div>
         
      
<div style="background:#FFF;">
<section class="list-pagination">
    <div style="" class="pagenav-wrapper" id="J_PageNavWrap">
      <div class="pagenav-content">
        <div class="pagenav" id="J_PageNav">

          <div class="p-prev p-gray" > <a href="">上一页</a> </div>
          <div class="pagenav-cur" style="vertical-align:bottom">
            <div class="pagenav-text" > <span>      1/1</span> <i></i> </div>
      <select class="pagenav-select"  onchange="location.href=this.options[this.selectedIndex].value;">
  <option selected="selected" value="user.php?act=order_list&page=1">第1页</option>
  </select>

          </div>
       <div class="p-next" > <a href="">下一页</a> </div>
		</div>
      </div>
    </div>
  </section>

</div>
</div>
 

<script type="text/javascript">
var from_order_empty = "请选择要合并的从订单";
var to_order_empty = "请选择要合并的主订单";
var order_same = "主订单和从订单相同，请重新选择";
var confirm_merge = "您确实要合并这两个订单吗？";
</script>

      <include file="public:footer"/>


  </div>
</div>
<include file="public:wechat"/>
</body>
</html>