<!DOCTYPE html >
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>用户中心</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<link rel="stylesheet" type="text/css" href="__WX__css/public.css">
<link rel="stylesheet" type="text/css" href="__WX__css/user.css">
<script type="text/javascript" src="__WX__js/jquery.js"></script>
<script type="text/javascript" src="__WX__js/common.js"></script>

</head>
<body style="background: rgb(235, 236, 237);">
<include file="public:header" />
<include file="public:menu"/>
<div id="wrapper">
  <div id="viewport">

      <div class="Personal">
          <div id="tbh5v0">
              <div class="innercontent1" >
                  <div class="name" style="height: auto;">
                      <label>
                          <span>二维码</span>
                          <img src="{$imgurl}" style='width:150px;height:150px;'/>
                      </label>
                  </div>
              </div>
          </div>
      </div>
   <div class="Personal">
      <div id="tbh5v0">
      <div class="innercontent1" >
          <form name="myform" method="post" id="myform" autocomplete="off">
 			  <div class="name"><span>昵称</span><input type="text"  id='userName' name='userName' value="{$user['userName']}" placeholder="昵称" class="c-f-text"></div>
		      <div class="name1"><span>性　别</span>
                  <label for="radio">   <input name="userSex" type="radio" id="radio" value="3" <if condition="$user['userSex'] eq 3">checked</if>/>保密</label>
                  <label for="radio2">  <input type="radio" name="userSex" id="radio2" value="1" <if condition="$user['userSex'] eq 1">checked</if> />男</label>
                  <label for="radio3"> <input type="radio" name="userSex" id="radio3" value="2" <if condition="$user['userSex'] eq 2">checked</if> />女</label>
            </div>
              <div class="name">
                  <label for="userEmail">
                      <span>邮箱</span>
                      <input type="text" id='userEmail' name='userEmail' value="{$user['userEmail']}"  />
                  </label>
              </div>

              <div class="name">
                  <label for="userPhone">
                      <span>手机号码</span>
                      <input type="text" id='userPhone' name='userPhone' value="{$user['userPhone']}" maxlength="11"  />
                  </label>
              </div>
              <div class="name">
                  <label for="pname">
                      <span>推荐人</span>
                      <input type="text"  id="pname" value="{$user['partnerName']|default='无推荐人'}"  readonly="readonly"/>
                  </label>
              </div>

			<!--<div style=" padding-top:10px; margin-top:10px; border-top:1px solid #CCC">-->
            <!--<div class="field_pwd">-->
				<!--<label for="sel_ques">-->
               <!--<h4 class="title"> <span class="t-red-g">*</span>密码提示问题：</h4>-->
					<!--<select name="sel_question"  class="required" id="sel_ques">-->
						<!--<option value="0">请选择密码提示问题</option>-->
						<!--<option value="friend_birthday" <if condition="$info.sel_question eq 'friend_birthday'">selected</if>>我最好朋友的生日？</option>-->
                        <!--<option value="old_address" <if condition="$info.sel_question eq 'old_address'">selected</if>>我儿时居住地的地址？</option>-->
                        <!--<option value="motto" <if condition="$info.sel_question eq 'motto'">selected</if>>我的座右铭是？</option>-->
                        <!--<option value="favorite_movie" <if condition="$info.sel_question eq 'favorite_movie'">selected</if>>我最喜爱的电影？</option>-->
                        <!--<option value="favorite_song" <if condition="$info.sel_question eq 'favorite_song'">selected</if>>我最喜爱的歌曲？</option>-->
                        <!--<option value="favorite_food" <if condition="$info.sel_question eq 'favorite_food'">selected</if>>我最喜爱的食物？</option>-->
                        <!--<option value="interest" <if condition="$info.sel_question eq 'interest'">selected</if>>我最大的爱好？</option>-->
                        <!--<option value="favorite_novel" <if condition="$info.sel_question eq 'favorite_novel'">selected</if>>我最喜欢的小说？</option>-->
                        <!--<option value="favorite_equipe" <if condition="$info.sel_question eq 'favorite_equipe'">selected</if>>我最喜欢的运动队？</option>-->
                    <!--</select>-->
				<!--</label>-->
                <!--</div>-->
                <!--</div>-->
                
                <!--<div class="field_pwd">-->
                    <!--<label for="pw_answer" id="passwd_quesetion">                -->
                        <!--<input type="text" name="passwd_answer" value="{$info.passwd_answer}" class="c_f_text" id="pw_answer"   placeholder="*密码问题答案"/>-->
                       <!-- -->
                    <!--</label>-->
                <!--</div>-->
					<div class="field submit-btn">
					   <input type="submit" value="确认修改" class="btn_big1" />
                    </div>
					<input type="hidden" name="act" value="act_edit_profile"/>
		</form>
       </div>       
         

 </div>
</div>
      <script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
      <script>
          $(function () {
              $.formValidator.initConfig({
                  theme:'Default',mode:'AutoTip',formID:"myform",debug:true,submitOnce:true,onSuccess:function(){
                      editUser();
                      return false;
                  },onError:function(msg){
                  }});
              $("#userName").formValidator({onShow:"",onFocus:"",onCorrect:"输入正确"}).inputValidator({min:6,max:20,onError:"用户昵称长度为6到20位"});
              $("#userPhone").inputValidator({min:0,max:25,onError:"你输入的手机号码非法,请确认"}).regexValidator({
                  regExp:"mobile",dataType:"enum",onError:"手机号码格式错误"
              }).ajaxValidator({
                  dataType : "json",
                  async : true,
                  url : '/Wx/Users/checkLoginKey',
                  success : function(data){
                      var json = {};
                      if(typeof(data )=="object"){
                          json = data;
                      }else{
                          json = eval("("+data+")");
                      }
                      if( json.status == "1" ) {
                          return true;
                      } else {
                          return false;
                      }
                      return "该手机号码已被使用";
                  },
                  buttons: $("#dosubmit"),
                  onError : "该手机号码已存在。",
                  onWait : "请稍候..."
              }).defaultPassed().unFormValidator(true);
              $("#userEmail").inputValidator({min:0,max:25,onError:"你输入的邮箱长度非法,请确认"}).regexValidator({
                  regExp:"email",dataType:"enum",onError:"邮箱格式错误"
              }).ajaxValidator({
                  dataType : "json",
                  async : true,
                  url : '/Wx/Users/checkLoginKey',
                  success : function(data){
                      var json = {};
                      if(typeof(data )=="object"){
                          json = data;
                      }else{
                          json = eval("("+data+")");
                      }
                      if( json.status == "1" ) {
                          return true;
                      } else {
                          return false;
                      }
                      return "该电子邮箱已被使用";
                  },
                  buttons: $("#dosubmit"),
                  onError : "该邮箱已存在。",
                  onWait : "请稍候..."
              }).defaultPassed().unFormValidator(true);
              $("#userPhone").blur(function(){
                  if($("#userPhone").val()==''){
                      $("#userPhone").unFormValidator(true);
                  }else{
                      $("#userPhone").unFormValidator(false);
                  }
              });
              $("#userEmail").blur(function(){
                  if($("#userEmail").val()==''){
                      $("#userEmail").unFormValidator(true);
                  }else{
                      $("#userEmail").unFormValidator(false);
                  }
              });

          });


      </script>


      <include file="public:footer"/>

  </div>
</div>
<include file="public:wechat"/>
</body>
</html>