
<!DOCTYPE html >
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>用户中心  </title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<script src="__WX__js/modernizr.js"></script>
<link rel="stylesheet" type="text/css" href="__WX__css/public.css"/>
<link rel="stylesheet" type="text/css" href="__WX__css/user.css"/>
    <link rel="stylesheet" href="__WX__iconfont/iconfont.css">
    <script type="text/javascript" src="__WX__js/jquery.js"></script>
<script type="text/javascript" src="__WX__js/jquery.json.js"></script><script type="text/javascript" src="__WX__js/transport.js"></script><script type="text/javascript" src="__WX__js/common.js"></script><script type="text/javascript" src="__WX__js/utils.js"></script></head>
<body style="background: rgb(235, 236, 237);">
      
<div class="user_com">

<div class="com_top" style="z-index: 1; position: relative; height: 100px;">
<h2 ><a href="javascript:void(0);">&nbsp;成长指数：&nbsp;{$rankName}&nbsp;</a></h2>
<dl >
<dt>
    <a href="{:U('Wx/Users/toEdit/')}">
    <?php
                if($WST_USER['userPhoto']==""){
                    echo '<img src="__ROOT__/Apps/Home/View/default/images/logo.png" >';
                    }elseif(strpos($WST_USER['userPhoto'],'http')===false){
                    echo '<img src="__ROOT__/'.$WST_USER['userPhoto'].'">';
                    }else{
                    echo '<img src="'.$WST_USER['userPhoto'].'" >';
                    }
    ?>
        </a>
    <span>
        <?php
        if(!empty($WST_USER['nickName'])){
            echo $WST_USER['nickName'];
        }else{
           if(empty($WST_USER['userName'])){
            echo $WST_USER['loginName'];
           }else{
            echo $WST_USER['userName'];
           }
        }
        ?>
    </span>
    <dd style="float: left; font-weight: bold;" hidden>等级：&nbsp;{$rankName}&nbsp;</dd>
    </dt>

</dl>
</div>
<!--<div class="uer_topnav" >-->
    <style>
        .Wallet1 ul li {
            position:relative;
        }
        /*.test{display: none;}*/
        .iconfont20 em{
            position: absolute;
            background: #ef2b2d;
            color: #fff;
            top: 0;
            height: 20px;
            line-height: 20px;
            min-width: 20px;
            font-size: 12px;
            text-align: center;
            border-radius: 100%;}
    </style>
<!--</div>-->
    <div class="Wallet1" style="z-index: 99900000;">
        <div class="W4div"><a href="goods_collection.html"><span class=" iconfont20 icon-icon47" style="position:relative"><if condition="$countGood gt '0' "><em>{$countGood}</em></if></span>商品收藏</a></div>
        <div class="W4div"><a href="shop_collection.html"> <span class=" iconfont20 icon-shoucang" style="position:relative"><if condition="$countShop gt '0' "><em>{$countShop}</em></if></span>店铺收藏</a></div>

        <!--<div class="W4div"><span class=" iconfont20 icon-withdraw"></span>提现</span></div>-->
        <div class="W4div"><a href="myfootprint.html"> <span class=" iconfont20 icon-zuji-copy" style="position:relative"><if condition="$countPrint gt '0' "><em >{$countPrint}</em></if></span>我的足迹</a></div>
        <!--<div class="W4div"><a href="/wx/cart/getcartinfo"><span class=" iconfont20 icon-withdraw"></span>购物车</span></a></div>-->
    </div>

    <div class="Wallet1">
        <dl><a href="{:U('orders/queryByPage')}">
            <!--<em class="Icon Icon2"></em>-->
            <dt>订单管理</dt><dd style="color:#aaaaaa;">查看全部</dd></a></dl>
        <ul>
            <li><a href="{:U('Orders/queryPayByPage')}"><span  class=" iconfont20 icon-daifukuan" style="position:relative"><if condition="$statusList['-2'] gt '0' "><em class="test" >{$statusList['-2']}</em></if></span>待付款</a> </li>
            <li><a href="{:U('Orders/queryDeliveryByPage')}"><span  class=" iconfont20 icon-clock" style="position:relative"><if condition="$statusList['2'] gt '0' "><em class="test" >{$statusList['2']}</em></if></span>待发货</a></li>
            <li><a href="{:U('Orders/queryReceiveByPage')}"><span  class=" iconfont20 icon-daishouhuo" style="position:relative"><if condition="$statusList['3'] gt '0' "><em class="test" >{$statusList['3']}</em></if></span>待收货</a></li>
            <li><a href="{:U('Orders/queryAppraiseByPage')}"><span  class=" iconfont20 icon-daipingjia" style="position:relative"><if condition="$statusList['4'] gt '0' "><em class="test" >{$statusList['4']}</em></if></span>待评价</a></li>
            <!--<li><span  class=" iconfont20 icon-tuikuan"></span>退款/售后</li>-->
        </ul>
    </div>
    <div class="Wallet1">
            <dl><a href="#">
                <!--<em class="Icon Icon6"></em>-->
                <dt>我的资产</dt><dd style="color:#aaaaaa;">查看全部</dd></a></dl>
            <ul>
                <li><a href="purselist.html"> <span  class=" iconfont20 icon-yue"></span>余额</a></li>
                <li><a href="income.html"><span  class=" iconfont20 icon-2"></span>收益</a></li>
                <li><a href="myheecoin.html"> <span class=" iconfont20 icon-jinbi"></span>嘻币</a></li>

                <li><a href="mysorce.html"> <span  class=" iconfont20 icon-jifen"></span>积分</a></li>
            </ul>
            <ul>
                <li><a href="purse.html"> <span class=" iconfont20 icon-chongzhi"></span>充值</a></li>
                <li><a href="withdraw.html"> <span class=" iconfont20 icon-yue"></span>提现</a></li>
                <li><span  class=" iconfont20 icon-youhuiquan"></span>优惠券</li>
            </ul>
    </div>
<div class="Wallet1">
    <!--{:U('Wx/users/myReferrer')}-->
    <dl><a href="direct_member.html">
        <!--<em class="Icon Icon1"></em>-->
        <dt>会员管理</dt><dd style="color:#aaaaaa;">查看我推荐的人</dd></a></dl>
    <ul>
        <li><a href="member.html" ><span  class=" iconfont20 icon-huiyuan">
            <!--<em>{$counts}</em>-->
        </span>会员总数</a></li>
        <li><a href="direct_member.html" ><span  class=" iconfont20 icon-1221214">
            <!--<em >{$count_a}</em>-->
        </span>直接推荐</a></li>
        <li><a href="indirect_member.html" ><span  class=" iconfont20 icon-huiyuanxinxi">
            <!--<em>{$counts-$count_a}</em>-->
        </span>间接推荐</a></li>
        <li><a href="valid_member.html" ><span  class=" iconfont20 icon-huiyuangoumai">
            <!--<em>{$counts}</em>-->
        </span>有效会员</a></li>
    </ul>
</div>
<div class="Wallet1">
    <dl><a href="javascript:void(0);">
        <!--<em class="Icon Icon4"></em>-->
        <dt>我的活动</dt></a></dl>
    <ul>
        <li><a href="release_activity.html" ><span  class=" iconfont20 icon-fabu"></span>我要发布</a></li>
        <li><a href="user_activity.html"> <span  class=" iconfont20 icon-yicanjiaren"></span>我参加的</a></li>
        <li><a href="myactivity.html"> <span  class=" iconfont20 icon-huodong"></span>我发布的</a></li>
    </ul>
</div>
<div class="Wallet">
    <dl><a href="{:U('user_address/querybypage')}">
        <!--<em class="Icon Icon5"></em>-->
        <dt>地址管理</dt><dd>&nbsp;</dd></a></dl>
</div>
</div>
<div class="Wallet1">
    <ul>
        <li style="width: 33.333%;"><a href="{:U('Wx/Users/toEdit/')}"><span  class=" iconfont20 icon-shezhi"></span>设置</a></li>
        <li style="width: 33.333%;"><a href="feedback.html"> <span  class=" iconfont20 icon-iconfontyijianfankui"></span>意见反馈</a></li>
        <li  style="width: 33.333%;"><a href="gosettled.html"><span  class=" iconfont20 icon-shangjiaruzhu"></span>我要入驻</a></li>
    </ul>
</div>
          
              
           
<div id="wrapper">
  <div id="viewport">
      <include file="public:footer"/>
 </div>
</div>
<include file="public:wechat"/>
</body>
</html>