<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,maximum-scale=1.0,initial-scale=1.0,user-scalable=0">
<meta name="format-detection" content="telephone=no">
<title>我的嘻币</title>
    <link rel="stylesheet" type="text/css" href="__WX__css/public.css"/>
    <link rel="stylesheet" type="text/css" href="__WX__css/user.css"/>
    <link rel="stylesheet" href="__WX__iconfont/iconfont.css">
<link type="text/css" href="__WX__bx/css/common.css" rel="stylesheet">
<link type="text/css" href="__WX__bx/css/user.css" rel="stylesheet">
<link type="text/css" href="__WX__bx/lib/animate-css/animate.min.css" rel="stylesheet">
<link type="text/css" href="__WX__bx/lib/font-awesome/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<!--loading start-->
<div class="cover" id="loading">
    <div class="loading">
        <div class="dot white"></div><div class="dot"></div><div class="dot"></div><div class="dot"></div><div class="dot"></div>
    </div>
</div>
<!--loading end-->
<!--主页start-->
<div class="pager">
    <div class="bxcont">
        <div class="purse">
        <div class="purse_tit"><span>嘻币</span><b>{$userScore|default='0'}</b></div>
            </div>
        <notempty name="scoreList">
                <div class="msglist">
                    <volist name="scoreList.root" id="vo">
                        <div class="msgitem">
                            <div class="mtit">您通过订单<span>[{$vo.orderNo}]</span>分成获得{$vo.score}嘻币</div>
                            <!--<span hidden>【未读】</span>-->
                            <div class="mtime">{$vo.createTime}</div>
                        </div>
                    </volist>
                </div>
         <else/>
                 <div class="pempty" style="display:block;"><img src="__WX__bx/images/cartoon.png"/><br/>暂无嘻币明细</div>
        </notempty>
        <!--消息记录为空时显示-->

    </div>
</div>
<!--主页end-->
<script src="__WX__bx/lib/jquery/jquery.min.js"></script>
<!--底部导航start-->
<div id="wrapper">
    <div id="viewport">
        <include file="public:footer"/>
    </div>
</div>
<include file="public:wechat"/>
<!--底部导航end-->

<script src="__WX__bx/js/msgalert.js"></script>
<script>
    $(function(){
        //关闭loading层
        $("#loading").hide();
    });
</script>
</body>
</html>
