<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['shopTitle']['fieldValue']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
      <script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
      <script src="__PUBLIC__/plugins/kindeditor/kindeditor.js"></script>
      <script src="__PUBLIC__/plugins/kindeditor/lang/zh_CN.js"></script>

       <script src="__ROOT__/Apps/Home/View/default/js/common.js"></script>
       <script src="__PUBLIC__/plugins/layer/layer.min.js"></script>
       <link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/webuploader/style.css" />
       <link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/webuploader/webuploader.css" />
       <script type="text/javascript" src="__PUBLIC__/plugins/webuploader/webuploader.js"></script>
       <script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/goodsbatchupload.js"></script>
   </head>
   <script>
   $(function () {
	   KindEditor.ready(function(K) {
			editor1 = K.create('textarea[name="activityContent"]', {
				height:'350px',
				allowFileManager : false,
				allowImageUpload : true,
				items:[
				        'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
				        'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
				        'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
				        'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
				        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
				        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|','image','table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
				        'anchor', 'link', 'unlink', '|', 'about'
				],
				afterBlur: function(){ this.sync(); }
			});
		});

       var uploading = null;
       uploadFile({
           server:"{:U('Admin/Coupon/uploadPic')}",pick:'#goodImgPicker',
           formData: {dir:'Coupon'},
           callback:function(f){
               layer.close(uploading);
               var json = WST.toJson(f);
               $('#goodsImgPreview').attr('src',"/"+json.file.savepath+json.file.savename);
               $('#goodsImg').val(json.file.savepath+json.file.savename);
               $('#goodsThums').val(json.file.savepath+json.file.savethumbname);
               $('#goodsImgPreview').show();
           },
           progress:function(rate){
               uploading = WST.msg('正在上传图片，请稍后...');
           }
       });

	   $.formValidator.initConfig({
		   theme:'Default',mode:'AutoTip',formID:"myform",debug:true,submitOnce:true,onSuccess:function(){
				   edit();
			       return false;
			},onError:function(msg){
		}});
	   $("#couponName").formValidator({onFocus:"请输入优惠券名称"}).inputValidator({min:1,max:15,onError:"请输入15字以内优惠券名称"});
	   $("#conponType").formValidator({onFocus:"请选择活动分类"}).inputValidator({min:1,onError: "请选择活动分类"});
       $("#usageRule").formValidator({onFocus:"请输入使用规则"}).inputValidator({min:1,max:80,onError:"请输入使用规则"});
       $("#money").formValidator({onFocus:"请输入使用条件"}).inputValidator({min:1,max:80,onError:"请输入使用条件"});
       $("#maxget").formValidator({onFocus:"请输入最大领取量"}).inputValidator({min:1,max:80,onError:"请输入最大领取量"});
       $("#maxuse").formValidator({onFocus:"请输入最大使用量"}).inputValidator({min:1,max:80,onError:"请输入最大使用量"});
       $("#returnValue").formValidator({onFocus:"请输入优惠力度"}).inputValidator({min:1,max:80,onError:"请输入优惠力度"});
       $("#indate").formValidator({onFocus:"请输入优惠有限期限"}).inputValidator({min:1,max:80,onError:"请输入优惠有限期限"});

   });


   function imglimouseover(obj){
       if(!$(obj).find('.file-panel').html()){
           $(obj).find('.setdel').addClass('trconb');
           $(obj).find('.setdel').css({"display":""});
       }
   }

   function imglimouseout(obj){

       $(obj).find('.setdel').removeClass('trconb');
       $(obj).find('.setdel').css({"display":"none"});
   }

   function imglidel(obj){
       if (confirm('是否删除图片?')) {
           $(obj).parent().remove("li");
           return;
       }
   }

   function imgmouseover(obj){
       $(obj).find('.wst-gallery-goods-del').show();
   }
   function imgmouseout(obj){
       $(obj).find('.wst-gallery-goods-del').hide();
   }
   function delImg(obj){
       $(obj).parent().remove();
   }


   function edit(){
	   var params = {};
	   params.id = $('#id').val();
	   params.couponName = $('#couponName').val();
	   params.couponType = $("input[name='couponType']:checked").val();
	   params.isShow = $("input[name='isShow']:checked").val();
	   params.usageRule = $('#usageRule').val();
	   params.maxget = $('#maxget').val();
       params.money = $('#money').val();
       params.maxuse = $('#maxuse').val();
       params.returnValue = $('#returnValue').val();
       params.indate = $('#indate').val();
       params.couponImg = $('#goodsThums').val();
	   if(params.flow==''){
		   Plugins.Tips({title:'信息提示',icon:'error',content:'请输入活动内容!',timeout:1000});
		   return;
	   }
	   Plugins.waitTips({title:'信息提示',content:'正在提交数据，请稍后...'});
	   $.post("{:U('Admin/Coupon/edit')}",params,function(data,textStatus){
			var json = WST.toJson(data);
			if(json.status=='1'){
				Plugins.setWaitTipsMsg({ content:'操作成功',timeout:1000,callback:function(){
				   location.href="{:U('Admin/Coupon/index')}";
				}});
			}else{
				Plugins.closeWindow();
				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
			}
		});
   }

   </script>
   <body class="wst-page">
       <form name="myform" method="post" id="myform" autocomplete="off">
        <input type='hidden' id='id' value='{$object.couponId}'/>
        <table class="table table-hover table-striped table-bordered wst-form">
           <tr>
             <th width='120' align='right'>优惠券名称<font color='red'>*</font>：</th>
             <td><input type='text' id='couponName' class="form-control wst-ipt" value='{$object.couponName}' maxLength='25'/></td>
           </tr>
           <tr>
             <th align='right'>优惠券类型<font color='red'>*</font>：</th>
               <td>
                   <label>
                       <input type='radio' id='couponType1' name='couponType' value='0' <if condition="$object['couponType'] ==0 ">checked</if> />满减券&nbsp;&nbsp;
                   </label>
                   <label>
                       <input type='radio' id='couponType0' name='couponType' value='1' <if condition="$object['couponType'] ==1 ">checked</if> />折扣券
                   </label>
               </td>
           </tr>
            <tr>
                <th width='120'>优惠券图标<font color='red'></font>：</th>
                <td >
                    <div>
                        <img id='goodsImgPreview' src='<if condition="$object['couponImg'] =='' ">__ROOT__/{$CONF['goodsImg']}<else/>__ROOT__/{$object['couponImg']}</if>' height='152'/><br/>
                    </div>
                    <input type='hidden' id='goodsImg' class='wstipt' value='{$object.couponImg}'/>
                    <input type='hidden' id='goodsThums' class='wstipt' value='{$object.couponImg}'/>
                    <div id="goodImgPicker" style='margin-left:0px;margin-top:5px;height:30px;overflow:hidden'>上传优惠券图标</div>
                    <div>图片大小:150 x 150 (px)，格式为 gif, jpg, jpeg, png</div>
                </td>
            </tr>
            <tr>
                <th align='right'>使用规则<font color='red'>*</font>：</th>
                <td>
                    <textarea style="height: 100px;" id='usageRule' class="form-control wst-ipt"  maxLength='150'>{$object.usageRule}</textarea>
                </td>
            </tr>
            <tr>
                <th align='right'>使用条件<font color='red'>*</font>：</th>
                <td>
                    <input type='text' id='money' class="form-control wst-ipt" value='{$object.money}' maxLength='80'/> 元（订单满多少钱可以使用 注：0-不限制）
                </td>
            </tr>
            <tr>
                <th align='right'>最高领取量<font color='red'>*</font>：</th>
                <td>
                    <input type='text' id='maxget' class="form-control wst-ipt" value='{$object.maxget}'/>（注：0不限制）
                </td>
            </tr>
            <tr>
                <th align='right'>最高使用量<font color='red'>*</font>：</th>
                <td>
                    <input type='text' id='maxuse' class="form-control wst-ipt" value='{$object.maxuse}'/>（注：0不限制）
                </td>
            </tr>
            <tr>
                <th align='right'>优惠力度<font color='red'>*</font>：</th>
                <td>
                    <input type='text' id='returnValue' class="form-control wst-ipt" value='{$object.returnValue}'/>（满减券直接写金额，折扣券（0.7）折扣）
                </td>
            </tr>
            <tr>
                <th align='right'>优惠券有效期限<font color='red'>*</font>：</th>
                <td>
                    <input type='text' id='indate' class="form-control wst-ipt" value='{$object.indate}'/> 天（注：依据用户领取当天算起几天 0-不限）
                </td>
            </tr>
            <tr>
                <th align='right'>是否显示<font color='red'>*</font>：</th>
                <td>
                    <label>
                        <input type='radio' id='isShow1' name='isShow' value='1' <if condition="$object['isShow'] ==1 ">checked</if> />显示&nbsp;&nbsp;
                    </label>
                    <label>
                        <input type='radio' id='isShow0' name='isShow' value='0' <if condition="$object['isShow'] ==0 ">checked</if> />隐藏
                    </label>
                </td>
            </tr>
           <tr>
             <td colspan='2' style='padding-left:250px;'>
                 <button type="submit" class="btn btn-success">保&nbsp;存</button>
                 <button type="button" class="btn btn-primary" onclick='javascript:location.href="{:U('Admin/Coupon/index')}"'>返&nbsp;回</button>
             </td>
           </tr>
        </table>
       </form>
   </body>
</html>